[tool.poetry]
authors = ["Shane Anderson <shane@reactivate.cx>"]
description = "Simple & fast multi-threaded S3 download tool."
keywords = ["aws", "s3"]
license = "MIT"
name = "s3fetch"
readme = "README.md"
repository = "https://github.com/rxvt/s3fetch"
version = "1.1.4"

[tool.poetry.dependencies]
boto3 = "^1.26.63"
click = "^8.0.0"
python = "^3.7"
urllib3 = "^1.26.8"
botocore-stubs = "^1.24.3"
boto3-stubs = {extras = ["s3"], version = "^1.26.68"}

[tool.poetry.group.dev.dependencies]
black = "^22.3.0"
nox = "^2022.11.21"
nox-poetry = "^1.0.2"
pytest = "^7.2"
pytest-cov = "^4.0.0"
pytest-mock = "^3.3.1"
mypy = "^0.931"
flake8 = "^4.0.1"
flake8-bandit = "^3.0.0"
flake8-black = "^0.3.3"
flake8-bugbear = "^22.7.1"
flake8-isort = "^4.1.1"
flake8-docstrings = "^1.6.0"
flake8-annotations = "^2.9.0"
isort = "^5.10.1"
moto = {extras = ["s3"], version = "^4.1.3"}
pydocstyle = "^6.1.1"
coverage = {extras = ["toml"], version = "^6.4.1"}
types-setuptools = "^57.4.18"
darglint = "^1.8.1"
safety = "^2.1.1"

[tool.poetry.scripts]
s3fetch = 's3fetch.cli:cli'

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=1.3.0"]

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["s3fetch"]

[tool.coverage.report]
show_missing = true
# fail_under = 100

[tool.mypy]
python_version = "3.7"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = ["s3fetch", "pkg_resources"]
ignore_missing_imports = true

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
line_length = 88
profile = "black"
