[tool.poetry]
authors = ["Shane Anderson <shane@reactivate.cx>"]
description = "Simple S3 download tool."
license = "MIT"
name = "s3fetch"
readme = "README.md"
repository = "https://github.com/rxvt/s3fetch"
version = "1.0.1"

[tool.poetry.dependencies]
boto3 = "^1.15.18"
click = "^7.1.2"
python = "^3.9"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
moto = "^1.3.16"
nox = "^2020.8.22"
nox-poetry = "^0.5.0"
pytest = "^5.2"
pytest-cov = "^2.10.1"
pytest-mock = "^3.3.1"

[tool.poetry.scripts]
s3fetch = 's3fetch:cmd'

[build-system]
build-backend = "poetry.masonry.api"
requires = ["poetry>=0.12"]
